.wrapper {
  margin: 10px 0;
  display: flex;
  width: 100%;
  max-width: 300px;
  border: 1px solid teal;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  height: 50px;

  .fileLogo {
    height: 70%;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;

    .downloadLogo {
      height: 50%;
      cursor: pointer;
    }
  }
}
